.home-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 43px;
  align-items: center;
}



.subgrid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 56px;
  padding-bottom: 43px;
  padding-inline: 50px;
  border-radius: 25px;
  background: #F6F6F6;
  box-sizing: border-box;
}

.locations-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 60px;
}

.link-item {
  text-decoration: none;
}

@media (max-width: 768px) {
  .home-container {
    gap: 22px;
  }

  .subgrid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
    border-radius: 25px;
    background: none;
    box-sizing: border-box;
  }

  .locations-grid {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .link-item {
    text-decoration: none;
  }
}
