.carroussel-picture {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 100%;
  height: 415px;

  .carrousel-background {
    border-radius: 25px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.arrow-prev {
  position: absolute;
  left: 23px;
  cursor: pointer;
}

.arrow-next {
  position: absolute;
  right: 23px;
  cursor: pointer;
}

.text-on-carrousel {
  position: absolute;
  color: white;
  bottom: 25px;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .carroussel-picture {
    height: 255px;
  }

  .arrow-prev {
    height: 24px;
    left: 12px;
  }

  .arrow-next {
    height: 24px;
    right: 12px;
  }
}
