@use '../variables.scss' as variable;

.container-foldable {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.unfold-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  border-radius: 10px;
  background-color: variable.$primary;
  padding: 10px 20px 10px 10px;

  p {
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }

}

.unfold-content {
  width: 100%;
  background: #F6F6F6;
  padding: 30px 12px 53px 20px;
  line-height: 25px;

}
