@use '../variables.scss' as variable;

.container-foldable {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.unfold-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-grow: 1;
  border-radius: 10px;
  background-color: variable.$primary;
  padding: 10px 20px 10px 10px;
  max-height: 56px;

  p {
    color: white;
    font-style: normal;
    font-weight: 500;
  }

}

.arrow-fold {
  cursor: pointer;
  height: 32px;
  width: 32px;

  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%)
}

.unfold-content {
  display: flex;
  align-items: flex-start;
  background: #F6F6F6;
  border-radius: 10px;
  height: 100%;

  p {
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%; /* 17.112px */
  }

}

@media (max-width: 768px) {

}
