@use '../variables.scss' as variable;

.container-foldable {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.unfold-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-grow: 1;
  border-radius: 10px;
  background-color: variable.$primary;
  padding: 10px 20px 10px 10px;
  max-height: 56px;

  p {
    color: white;
    font-style: normal;
    font-weight: 500;
  }

}

.arrow-container {
  cursor: pointer;
  height: 32px;
  width: 32px;

  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}


.rotate-left {
  transition: transform 400ms 0ms ease-out ;
  transform: rotate(-180deg);
}

.rotate-right {
  transition: transform 400ms 0ms ease-out ;
  transform: rotate(0deg);
}

.animated-div {
  height: 0px;
  overflow: hidden;
  background: #F6F6F6;
  transition: height 0.4s ease-out;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;

    p {
      font-style: normal;
      font-weight: 400;
      line-height: 142.6%;
    }
}

.unfold-text-container {
  .animated-div {
    height: 100%;
  }
}
