footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 29px;
  width: 100%;
  max-width: 1240px;
  background: black;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding-block: 66px 29px;

  img {
    height: 40px !important;
  }

  p {
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 34.224px */
    margin: 0px;
  }
}
