.location-item {
  display: flex;
  align-items: end;
  padding-inline: 20px;
  padding-bottom: 20px;
  height: 340px;
  border-radius: 10px;
  color: white;
  background: linear-gradient(180deg, #FF6060 0%, rgba(0, 0, 0, 1) 100%);
}
