@use '../variables.scss' as variable;


.tag {
  color: white;
  background-color: variable.$primary ;
  border-radius: 10px;
  padding-inline: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  height: 25px;
}
