@use './variables.scss' as variable;
@use './components/Header.scss';
@use './components/Footer.scss';
@use './components/LocationCard.scss';
@use './components/Banner.scss';
@use './components/Carrousel.scss';
@use './components/FoldCard.scss';
@use './pages/Error.scss';
@use './pages/Home.scss';
@use './pages/About.scss';
@use './pages/Location.scss';


* {
  font-family: Montserrat;
  color: variable.$primary;
}

p {
  margin: 0px;
}


#root {
  display: flex;
  justify-content:center;
  width: 100%;
}

.global-container {
  width: 100%;
  max-width: 1240px;
}
