@use './components/Header.scss';
@use './components/Footer.scss';
@use './pages/Error.scss';
@use './pages/Home.scss';
@use './pages/About.scss';
@use './pages/Location.scss';

* {
  font-family: Montserrat;
  color: #FF6060;
}

#root {
  display: flex;
  justify-content:center;
  width: 100%;
}

.global-container {
  width: 100%;
  max-width: 1240px;
}
