@use './variables.scss' as variable;
@use './components/Banner.scss';
@use './components/Carrousel.scss';
@use './components/FoldCard.scss';
@use './components/Footer.scss';
@use './components/Header.scss';
@use './components/LocationCard.scss';
@use './components/Tag.scss';
@use './pages/About.scss';
@use './pages/Error.scss';
@use './pages/Home.scss';
@use './pages/Location.scss';


* {
  font-family: Montserrat;
  color: variable.$primary;
}

p {
  margin: 0px;
}


#root {
  display: flex;
  justify-content: center;
  width: 100%;
}

.top-container {
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.global-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .top-container {
    box-sizing: border-box;
    padding-inline: 20px;
  }
}
